<div style="text-align: center;vertical-align: middle;line-height: 50px;">
  Best Day to tweet: <%= @best_day_to_tweet %><br>
  Best Hour to tweet: <%= @best_time_to_tweet %> (24 HRS FORMAT)<br>
</div>
